*{
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
header{
    display: flex;
    justify-content: space-around;
    border: 1px solid #156ED4;
    background-color: #1A46F6;
    height: 100px;
    align-items: center;
    color: aliceblue;
}
#pesquisa{
    border: 1px solid rgb(100, 102, 237);
    border-radius: 5px;
    height: 30px;
    width: 500px;
    padding-left: 5px;
}
#bt_pesquisar{
    border: 1px solid rgb(243, 243, 247);
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
    background-color: black;
    color: aliceblue;
    
}
#bt_pesquisar:hover{
    background-color: aliceblue;
    border: 1px solid rgb(23, 23, 26);
    color: black;
}
.caixa{
    height: 250px;
    background-color: rgb(17, 17, 37);
    border-radius: 20px;
    margin: 3px;
}
h2{
    background-color: #156ED4;
    text-align: center;
    color: aliceblue;
    padding: 5px;
}
h3{
    text-align: center;
    color: darkgray;
    padding: 5px;
}




